/*--------------------------------------------------NavBar--------------------------------------*/

/*--------------------------------------------------Acueil--------------------------------------*/
b
.text { 
    color: red;
}
#centralBlocAcueil {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 5%;
}
#txtAcueil {
    margin-bottom: 0px;
    font-size: 1.7em;
}
  #myPicture { 
      max-width: 600px;
      max-height: 600px;
      -webkit-filter: grayscale(100%); 
      filter: grayscale(100%);
      transition: transform .2s;
      width: 100%;
      height: auto; 
      margin: auto; 
  }
  #myPicture:hover {
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
    transform: scale(1.05);
  }
  p { 
      font-size: 2vh;
  }
  @media screen and (max-width: 1024px) {
      #centralBlocAcueil {
          flex-direction: column-reverse;
          width: 100%;
          margin-top: 0%;
      }
      p {
          font-size: 1.5vh;
      }
      #txtAcueil { 
          padding: 1%;
          margin-top: 1%;
      }
  }
/*--------------------------------------------------Exp--------------------------------------*/
@keyframes example {
    from   {left:0px; top:0px; opacity: 0;}
    to  {left:200px; top:0px;opacity: 1;}
  }
  @keyframes TopMove {
    from   {top:-200px; left:0px; opacity: 0;}
    to  {top:0px; left:0px;opacity: 1;}
  }

.bloc1 {
    width: 50px;
    height: 50px;
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    margin: 10px;

}
.bloc2 {
    width: 50px;
    height: 50px;
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
    opacity: 0;
    margin: 10px;

}
.bloc3 {
    width: 50px;
    height: 50px;
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
    opacity: 0;
    margin: 10px;

}
.reduce { 
    width: 100%;
    height: 100%;
}

.centralCorp { 
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 1%;
}
.expCard { 
    text-align: start;
    margin: 3%;
    width: 50%;
}
.centralCorp p {
    font-size: 1.5vh;
}
.blocCard {
    display: flex;
}
hr.solid {
    border-top: 1px solid #bbb;
    width: 70%;
    margin-bottom: 10%;
  }
.titleSkill{ 
    margin-bottom: 5%;
    margin-top: 5%;
}


/*--------------------------------------------------Project--------------------------------------*/

.projectBloc {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 1%;
}
.projectDetail {
    width: 70%;
    text-align: center;
}
.projectTech {
    display: flex;
    flex-direction: column;
}
.projectTech img { 
    margin: 10px;
}
#restPic { 
    width: 100%;
    height: auto;
}
.blocV1 {
    width: 50px;
    height: 50px;
    position: relative;
    animation-name: TopMove;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    margin: 1%;

}
.blocV2 {
    width: 50px;
    height: 50px;
    position: relative;
    animation-name: TopMove;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
    opacity: 0;
    margin: 1%;

}
.blocV3 {
    width: 50px;
    height: 50px;
    position: relative;
    animation-name: TopMove;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
    opacity: 0;
    margin: 1%;

}
.blocV4 {
    width: 50px;
    height: 50px;
    position: relative;
    animation-name: TopMove;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.9s;
    opacity: 0;
    margin: 1%;

}
.blocV5 {
    width: 50px;
    height: 50px;
    position: relative;
    animation-name: TopMove;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.2s;
    opacity: 0;
    margin: 1%;

}
.projectTitle {
    text-align: center;
}

.cookPic {
    max-width: 300px;
    height: auto;
}


/*--------------------------------------------------Contact--------------------------------------*/

.net { 
    max-width: 15%;
    height: auto;
    margin: 1%;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    transition: transform .2s;
    z-index: 100;
}
.net:hover {
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
    transform: scale(1.05);
}
.netBloc {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 1%;
}


/* test  */

/* TEXT */ 

.lang {
    margin-top: 100px;
    justify-content: center;
    font-size: 35px;
    line-height: 1.1em;
    outline: none;
    text-align: center;
    user-select: none;
}
.lang-html {
    text-shadow: 0 0 3px #fff, 0 0 1px #fff, 0 0 10px rgba(225, 0, 120, 0.6);
}
.lang-css {
    text-shadow: 0 0 3px #fff, 0 0 1px #fff, 0 0 10px rgba(0, 50, 225, 0.6);
}
.lang-js {
    text-shadow: 0 0 3px #fff, 0 0 1px #fff, 0 0 10px rgba(220, 225, 0, 0.6);
}
.lang-swift {
    text-shadow: 0 0 3px #fff, 0 0 1px #fff, 0 0 10px rgba(205, 0, 225, 0.6);
}
.lang-kotlin {
    text-shadow: 0 0 3px #fff, 0 0 1px #fff, 0 0 10px rgba(0, 225, 10, 0.6);
}
/* LIQUID BAR */
.wrapper {
    min-height: 100px;
    position: relative;
    display: block;
    margin-top: 5%;
    margin-bottom: 2%;
}
.progressbar-wrapper {
    margin-left: -10px;
    width: 300px;
    height: 60px;
    top: 55%;
    left: 49%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.progressbar {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(-30deg);
}
.side {
    width: 100%;
    height: 100%;
    background-color: rgba(75, 75, 75, 0.3);
    top: 0;
    left: 0;
    position: absolute;
}
.bottom {
    box-shadow: 10px 10px 50px 5px rgba(90, 90, 90, 0.7);
    transform: rotateX(90deg);
    transform-origin: bottom;
}
.top {
    transform: translate(0, -100%) rotateX(90deg);
    transform-origin: bottom;
}
.back {
    transform: translateZ(-60px);
}
.left {
    width: 60px;
    transform: rotateY(90deg);
    transform-origin: left;
    background-color: rgba(225, 0, 120, 0.6);
}
.bar {
    height:100%;
    background-color: rgba(225, 0, 120, 0.6);
    box-shadow: 5px 5px 50px 5px rgba(225, 0, 120, 0.3);
    width:100%;
    animation: html 3s;
    animation-iteration-count: 1;
}
@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
.left2 {
    width: 60px;
    transform: rotateY(90deg);
    transform-origin: left;
    background-color: rgba(0, 50, 225, 0.6);
}
.bar2 {
    height:100%;
    background-color: rgba(0, 50, 225, 0.6);
    box-shadow: 5px 5px 50px 5px rgba(0, 50, 225, 0.3);
    width:90%;
    animation: css 3s;
    animation-iteration-count: 1;
}
@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
.left3 {
    width: 60px;
    transform: rotateY(90deg);
    transform-origin: left;
    background-color: rgba(220, 225, 0, 0.6);
}
.bar3 {
    height:100%;
    background-color: rgba(220, 225, 0, 0.6);
    box-shadow: 5px 5px 50px 5px rgba(220, 225, 0, 0.3);
    width:75%;
    animation: javascript 3s;
    animation-iteration-count: 1;
}
@keyframes javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}
.left4 {
    width: 60px;
    transform: rotateY(90deg);
    transform-origin: left;
    background-color: rgba(205, 0, 225, 0.6);
}
.bar4 {
    height:100%;
    background-color: rgba(205, 0, 225, 0.6);
    box-shadow: 5px 5px 50px 5px rgba(205, 0, 225, 0.3);
    width: 60%;
    animation: c 3s;
    animation-iteration-count: 1;
}
@keyframes c {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}
.left5 {
    width: 60px;
    transform: rotateY(90deg);
    transform-origin: left;
    background-color: rgba(0, 225, 10, 0.6);
}
.bar5 {
    height:100%;
    background-color: rgba(0, 225, 10, 0.6);
    box-shadow: 5px 5px 50px 5px rgba(0, 225, 10, 0.3);
    width: 100%;
    animation: python 3s;
    animation-iteration-count: 1;
}
@keyframes python {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
#skills {
    width: 100%;
    height: 100%;
    color: white;
    background-color: #1a1a1a;
}
.all-lang {
    display: flex;  
    justify-content: center;
    flex-direction: column;
}

.lang{
    color: white;
}



